<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin Dashboard</h1>

    <p>Total Assets: {{ total_assets }}</p>
    <p>Total Inventory: {{ total_inventory }}</p>
    <p>Total Assignments: {{ total_assigned }}</p>
    <p>Total Repair Tickets: {{ total_repairs }}</p>

<a href="{% url 'logout' %}">Logout</a><br>
<a href="{% url 'add_asset' %}">Add Asset</a><br>
<a href="{% url 'assign_asset' %}">Assign Asset</a>
</body>
</html>